Vxa.o
Vxa_ICaller.o
Vxa_ICollection.o
Vxa_ISingleton.o
Vxa_IVSNFTaskHolder.o
Vxa_IVSNFTaskHolder1.o
Vxa_IVSNFTaskHolder2.o
Vxa_IVSNFTaskImplementation.o
Vxa_IVSNFTaskImplementation2.o
Vxa_IVSNFTaskImplementation3.o
Vxa_IVSNFTaskImplementation3NC.o
Vxa_VAny.o
Vxa_VCLF.o
Vxa_VCallAgent.o
Vxa_VCallData.o
Vxa_VCallHandle.o
Vxa_VCallType1.o
Vxa_VCallType1Exporter.o
Vxa_VCallType2.o
Vxa_VCallType2Exporter.o
Vxa_VCardinalityHints.o
Vxa_VClass.o
Vxa_VCollectableCollection.o
Vxa_VCollectableObject.o
Vxa_VCollection.o
Vxa_VCursor.o
Vxa_VError.o
Vxa_VExportable.o
Vxa_VExportableDatum.o
Vxa_VFiniteSet.o
Vxa_VImportable.o
Vxa_VInfiniteSet.o
Vxa_VMap.o
Vxa_VMapMaker.o
Vxa_VMonotypeMap.o
Vxa_VMonotypeMapMaker.o
Vxa_VMonotypeMapMakerFor.o
Vxa_VMethod.o
Vxa_VPolytypeMap.o
Vxa_VPolytypeMapMaker.o
Vxa_VResultBuilder.o
Vxa_VRolePlayer.o
Vxa_VSerializer2DynArray.o
Vxa_VSet.o
Vxa_VTask.o
Vxa_VTaskCursor.o
Vxa_VType.o
