src/*/LOGS
src/*/AUDIT
src/pooltd/*/*/LOGS/*
src/*/Vp.h
src/*/VpFileMapping.h
src/*/VpSocket.h
src/*/make.defs.*
src/*/makefile
src/*/visionBuilder.scrubFiles
src/.visionBuilder
src/*/*.o
src/*/*.o-dbg
lib

# misc executables built on Solaris and Linux
src/backend/batchvision
src/backend/batchvision-dbg
src/backend/dbconvert
src/backend/dbconvert-dbg
src/backend/makelicense
src/backend/makelicense-dbg
src/backend/showsizes
src/backend/showsizes-dbg
src/frontend/frontend
src/frontend/frontend-dbg
src/dbupdate/compustat2
src/dbupdate/compustat2-dbg
src/dbupdate/inc.
src/dbupdate/inc.-dbg
src/dbupdate/loadtape
src/dbupdate/loadtape-dbg
src/dbupdate/normalize
src/dbupdate/normalize-dbg
src/dbupdate/preproc2
src/dbupdate/preproc2-dbg
src/dbupdate/shuffle
src/dbupdate/shuffle-dbg
src/dbupdate/transpose
src/dbupdate/transpose-dbg
src/dbupdate/valueline
src/dbupdate/valueline-dbg
src/tools/checksum
src/tools/checksum-dbg
src/tools/makemvscript
src/tools/makemvscript-dbg
src/tools/ndftool
src/tools/ndftool-dbg
src/tools/onprof
src/tools/onprof-dbg
src/tools/paginate
src/tools/paginate-dbg
src/tools/rollback
src/tools/rollback-dbg
src/tools/uuidgen
src/tools/uuidgen-dbg
src/tools/viewndf
src/tools/viewndf-dbg
src/tools/viewseg
src/tools/viewseg-dbg
src/tools/vquery
src/tools/vquery-dbg
src/tools/xndfosds
src/tools/xndfosds-dbg
src/tools/format
src/tools/format-dbg
src/vca_newsfeed_repeater/vca_newsfeed_repeater
src/vca_newsfeed_repeater/vca_newsfeed_repeater-dbg
src/vca_sample_distribution_client/vca_sample_distribution_client
src/vca_sample_distribution_client/vca_sample_distribution_client-dbg
src/vca_sample_distribution_server/vca_sample_distribution_server
src/vca_sample_distribution_server/vca_sample_distribution_server-dbg
src/vca_sample_echostring_client/vca_sample_echostring_client
src/vca_sample_echostring_client/vca_sample_echostring_client-dbg
src/vca_sample_echostring_server/vca_sample_echostring_server
src/vca_sample_echostring_server/vca_sample_echostring_server-dbg
src/vcaquery/vcaquery
src/vcaquery/vcaquery-dbg
src/vcaservicemanager/vcaservicemanager
src/vcaservicemanager/vcaservicemanager-dbg
src/vcatool/vcatool
src/vcatool/vcatool-dbg
src/vnotify/vnotify
src/vnotify/vnotify-dbg
src/vpassthru/vpassthru
src/vpassthru/vpassthru-dbg
src/vpooladmin/vpooladmin
src/vpooladmin/vpooladmin-dbg
src/vproxy/vproxy
src/vproxy/vproxy-dbg
src/vsa_sample_requestmaker/vsa_sample_requestmaker
src/vsa_sample_requestmaker/vsa_sample_requestmaker-dbg
src/vsaprompt/vsaprompt
src/vsaprompt/vsaprompt-dbg
src/vserver/vserver
src/vserver/vserver-dbg

# Visual Studio Build Artifacts
src/vision.sdf
src/vision.suo
src/V/Release/
src/V/Debug/
src/V/V.vcxproj.user
src/VAccess/Release/
src/VAccess/Debug/
src/VAccess/VAccess.h
src/VAccess/VAccess.tlb
src/VAccess/VAccess.vcxproj.user
src/VAccess/VAccess_i.c
src/VAccess/VAccess_p.c
src/VAccess/dlldata.c
src/VAccess_Sample/obj/
src/Vca/Release/
src/Vca/Debug/
src/Vca/Vca.vcxproj.user
src/VcaMain/Release/
src/VcaMain/Debug/
src/VcaMain/VcaMain.vcxproj.user
src/Vdb/Release/
src/Vdb/Debug/
src/Vdb/Vdb.vcxproj.user
src/Vdht/Release/
src/Vdht/Debug/
src/Vdht/Vdht.vcxproj.user
src/Vfx/Release/
src/Vfx/Debug/
src/Vfx/Vfx.vcxproj.user
src/Vps/Release/
src/Vps/Debug/
src/Vps/Vps.vcxproj.user
src/Vsa/Release/
src/Vsa/Debug/
src/Vsa/Vsa.vcxproj.user
src/Vxa/Release/
src/Vxa/Debug/
src/Vxa/Vxa.vcxproj.user
src/VxaMain/Release/
src/VxaMain/Debug/
src/VxaMain/VxaMain.vcxproj.user
src/batchvision/Release/
src/batchvision/Debug/
src/batchvision/batchvision.vcxproj.user
src/checksum/Release/
src/checksum/Debug/
src/checksum/checksum.vcxproj.user
src/dbconvert/Release/
src/dbconvert/Debug/
src/dbconvert/dbconvert.vcxproj.user
src/format/Release/
src/format/Debug/
src/format/format.vcxproj.user
src/makelicense/Release/
src/makelicense/Debug/
src/makelicense/makelicense.vcxproj.user
src/ndftool/Release/
src/ndftool/Debug/
src/ndftool/ndftool.vcxproj.user
src/normalize/Release/
src/normalize/Debug/
src/normalize/normalize.vcxproj.user
src/onprof/Release/
src/onprof/Debug/
src/onprof/onprof.vcxproj.user
src/release/
src/debug/
src/showsizes/Release/
src/showsizes/Debug/
src/showsizes/showsizes.vcxproj.user
src/vca_sample_distribution_client/Release/
src/vca_sample_distribution_client/Debug/
src/vca_sample_distribution_client/vca_sample_distribution_client.vcxproj.user
src/vca_sample_distribution_server/Release/
src/vca_sample_distribution_server/Debug/
src/vca_sample_distribution_server/vca_sample_distribution_server.vcxproj.user
src/vca_sample_echostring_client/Release/
src/vca_sample_echostring_client/Debug/
src/vca_sample_echostring_client/vca_sample_echostring_client.vcxproj.user
src/vca_sample_echostring_server/Release/
src/vca_sample_echostring_server/Debug/
src/vca_sample_echostring_server/vca_sample_echostring_server.vcxproj.user
src/vca_samples/Release/
src/vca_samples/Debug/
src/vca_samples/vca_samples.vcxproj.user
src/vcaquery/Release/
src/vcaquery/Debug/
src/vcaquery/vcaquery.vcxproj.user
src/vcaservicemanager/Release/
src/vcaservicemanager/Debug/
src/vcaservicemanager/vcaservicemanager.vcxproj.user
src/vcatool/Release/
src/vcatool/Debug/
src/vcatool/vcatool.vcxproj.user
src/vdbtool/Release/
src/vdbtool/Debug/
src/vdbtool/vdbtool.vcxproj.user
src/viewndf/Release/
src/viewndf/Debug/
src/viewndf/viewndf.vcxproj.user
src/viewseg/Release/
src/viewseg/Debug/
src/viewseg/viewseg.vcxproj.user
src/vpassthru/Release/
src/vpassthru/Debug/
src/vpassthru/vpassthru.vcxproj.user
src/vpooladmin/Release/
src/vpooladmin/Debug/
src/vpooladmin/vpooladmin.vcxproj.user
src/vproxy/Release/
src/vproxy/Debug/
src/vproxy/vproxy.vcxproj.user
src/vquery/Release/
src/vquery/Debug/
src/vquery/vquery.vcxproj.user
src/vsa_sample_requestmaker/Release/
src/vsa_sample_requestmaker/Debug/
src/vsa_sample_requestmaker/vsa_sample_requestmaker.vcxproj.user
src/vsaprompt/Release/
src/vsaprompt/Debug/
src/vsaprompt/vsaprompt.vcxproj.user
src/vserver/Release/
src/vserver/Debug/
src/vserver/VServer.vcxproj.user
src/xndfosds/Release/
src/xndfosds/Debug/
src/xndfosds/xndfosds.vcxproj.user


# Other Visual Studio build artifiacts.  These are strange though...
src/VAccess/Release/
src/VAccess/Debug/
src/VAccess/VAccess.h
src/VAccess/VAccess.tlb
src/VAccess/VAccess.vcxproj.user
src/VAccess/VAccess_i.c
src/VAccess/VAccess_p.c
src/VAccess/dlldata.c
src/VAccess_Sample/obj/
