gopt.o
V.o
V_VAdaptiveAllocator.o  
V_VAddin.o
V_VAllocator.o
V_VApplicationLog.o
V_VArgList.o
V_VAtom.o
V_VBlob.o
V_VCommandLine.o
V_VCondvar.o
V_VCOS.o
V_VFifoLite.o
V_VGSID.o
V_VLock.o
V_VLogger.o
V_VMM.o
V_VManagedThread.o
V_VMutex.o
V_VNullock.o
V_VRTTI.o
V_VRandom.o
V_VSSID.o
V_VScheduler.o
V_VScopedResource.o
V_VSemaphore.o
V_VSpinlock.o
V_VThread.o
V_VThreadSpecific.o
V_VTime.o
V_VUnmanagedThread.o
VdbNetwork.o
Vk.o
VkBuffer.o
VkMemory.o
VkRegExp.o
VkRunTimes.o
VkStatus.o
VkUUID.o
VReferenceable.o
VRunTimeType.o
VSimpleFile.o
VStaticTransient.o
V_VString.o
VTransient.o
VTransientServices.o
