src/*/LOGS
src/*/AUDIT
src/pooltd/*/*/LOGS/*
src/*/make.defs.*
src/*/makefile
src/*/visionBuilder.scrubFiles
src/.visionBuilder
src/*/*.o
src/*/*.o-dbg
src/*/*-dbg.dSYM/*
lib
*.swp

# misc executables built on Solaris and Linux
src/backend/batchvision
src/backend/batchvision-dbg
src/backend/dbconvert
src/backend/dbconvert-dbg
src/backend/makelicense
src/backend/makelicense-dbg
src/backend/showsizes
src/backend/showsizes-dbg
src/frontend/frontend
src/frontend/frontend-dbg
src/vinfoserver/vinfoserver
src/vinfoserver/vinfoserver-dbg
src/dbupdate/compustat2
src/dbupdate/compustat2-dbg
src/dbupdate/inc.
src/dbupdate/inc.-dbg
src/dbupdate/loadtape
src/dbupdate/loadtape-dbg
src/dbupdate/normalize
src/dbupdate/normalize-dbg
src/dbupdate/preproc2
src/dbupdate/preproc2-dbg
src/dbupdate/shuffle
src/dbupdate/shuffle-dbg
src/dbupdate/transpose
src/dbupdate/transpose-dbg
src/dbupdate/valueline
src/dbupdate/valueline-dbg
src/tools/checksum
src/tools/checksum-dbg
src/tools/makemvscript
src/tools/makemvscript-dbg
src/tools/ndftool
src/tools/ndftool-dbg
src/tools/onprof
src/tools/onprof-dbg
src/tools/paginate
src/tools/paginate-dbg
src/tools/rollback
src/tools/rollback-dbg
src/tools/uuidgen
src/tools/uuidgen-dbg
src/tools/viewndf
src/tools/viewndf-dbg
src/tools/viewseg
src/tools/viewseg-dbg
src/tools/vquery
src/tools/vquery-dbg
src/tools/format
src/tools/format-dbg
src/tools/xndfosds
src/tools/xndfosds-dbg
src/tools/format
src/tools/format-dbg
src/va-pugixml/va_pugixml
src/va-pugixml/va_pugixml-dbg
src/vca_newsfeed_repeater/vca_newsfeed_repeater
src/vca_newsfeed_repeater/vca_newsfeed_repeater-dbg
src/vca_sample_distribution_client/vca_sample_distribution_client
src/vca_sample_distribution_client/vca_sample_distribution_client-dbg
src/vca_sample_distribution_server/vca_sample_distribution_server
src/vca_sample_distribution_server/vca_sample_distribution_server-dbg
src/vca_sample_echostring_client/vca_sample_echostring_client
src/vca_sample_echostring_client/vca_sample_echostring_client-dbg
src/vca_sample_echostring_server/vca_sample_echostring_server
src/vca_sample_echostring_server/vca_sample_echostring_server-dbg
src/vcaquery/vcaquery
src/vcaquery/vcaquery-dbg
src/vcaservicemanager/vcaservicemanager
src/vcaservicemanager/vcaservicemanager-dbg
src/vcatool/vcatool
src/vcatool/vcatool-dbg
src/vnotify/vnotify
src/vnotify/vnotify-dbg
src/vpassthru/vpassthru
src/vpassthru/vpassthru-dbg
src/vpooladmin/vpooladmin
src/vpooladmin/vpooladmin-dbg
src/vproxy/vproxy
src/vproxy/vproxy-dbg
src/vsa_sample_requestmaker/vsa_sample_requestmaker
src/vsa_sample_requestmaker/vsa_sample_requestmaker-dbg
src/vsaprompt/vsaprompt
src/vsaprompt/vsaprompt-dbg
src/vserver/vserver
src/vserver/vserver-dbg

# Visual Studio Build Artifacts
src/vision.sdf
src/vision.suo
src/V/Release/
src/V/Releasex64/
src/V/Debug/
src/V/Debugx64/
src/V/V.vcxproj.user
src/VAccess/Release/
src/VAccess/Releasex64/
src/VAccess/Debug/
src/VAccess/Debugx64/
src/VAccess/VAccess.h
src/VAccess/VAccess.tlb
src/VAccess/VAccess.vcxproj.user
src/VAccess/VAccess_i.c
src/VAccess/VAccess_p.c
src/VAccess/dlldata.c
src/VAccess_Sample/obj/
src/Vca/Release/
src/Vca/Releasex64/
src/Vca/Debug/
src/Vca/Debugx64/
src/Vca/Vca.vcxproj.user
src/VcaMain/Release/
src/VcaMain/Releasex64/
src/VcaMain/Debug/
src/VcaMain/Debugx64/
src/VcaMain/VcaMain.vcxproj.user
src/Vdb/Release/
src/Vdb/Releasex64/
src/Vdb/Debug/
src/Vdb/Debugx64/
src/Vdb/Vdb.vcxproj.user
src/Vdht/Release/
src/Vdht/Releasex64/
src/Vdht/Debug/
src/Vdht/Debugx64/
src/Vdht/Vdht.vcxproj.user
src/Vfx/Release/
src/Vfx/Releasex64/
src/Vfx/Debug/
src/Vfx/Debugx64/
src/Vfx/Vfx.vcxproj.user
src/Vps/Release/
src/Vps/Releasex64/
src/Vps/Debug/
src/Vps/Debugx64/
src/Vps/Vps.vcxproj.user
src/Vsa/Release/
src/Vsa/Releasex64/
src/Vsa/Debug/
src/Vsa/Debugx64/
src/Vsa/Vsa.vcxproj.user
src/Vxa/Release/
src/Vxa/Releasex64/
src/Vxa/Debug/
src/Vxa/Debugx64/
src/Vxa/Vxa.vcxproj.user
src/VxaMain/Release/
src/VxaMain/Releasex64/
src/VxaMain/Debug/
src/VxaMain/Debugx64/
src/VxaMain/VxaMain.vcxproj.user
src/batchvision/Release/
src/batchvision/Releasex64/
src/batchvision/Debug/
src/batchvision/Debugx64/
src/batchvision/batchvision.vcxproj.user
src/checksum/Release/
src/checksum/Releasex64/
src/checksum/Debug/
src/checksum/Debugx64/
src/checksum/checksum.vcxproj.user
src/dbconvert/Release/
src/dbconvert/Releasex64/
src/dbconvert/Debug/
src/dbconvert/Debugx64/
src/dbconvert/dbconvert.vcxproj.user
src/format/Release/
src/format/Releasex64/
src/format/Debug/
src/format/Debugx64/
src/format/format.vcxproj.user
src/makelicense/Release/
src/makelicense/Releasex64/
src/makelicense/Debug/
src/makelicense/Debugx64/
src/makelicense/makelicense.vcxproj.user
src/ndftool/Release/
src/ndftool/Releasex64/
src/ndftool/Debug/
src/ndftool/Debugx64/
src/ndftool/ndftool.vcxproj.user
src/normalize/Release/
src/normalize/Releasex64/
src/normalize/Debug/
src/normalize/Debugx64/
src/normalize/normalize.vcxproj.user
src/onprof/Release/
src/onprof/Releasex64/
src/onprof/Debug/
src/onprof/Debugx64/
src/onprof/onprof.vcxproj.user
src/Release/
src/Releasex64
src/Debug/
src/Debugx64
src/showsizes/Release/
src/showsizes/Releasex64/
src/showsizes/Debug/
src/showsizes/Debugx64/
src/showsizes/showsizes.vcxproj.user
src/va-pugixml/Release/
src/va-pugixml/Releasex64/
src/va-pugixml/Debug/
src/va-pugixml/Debugx64/
src/vca_sample_distribution_client/Release/
src/vca_sample_distribution_client/Releasex64/
src/vca_sample_distribution_client/Debug/
src/vca_sample_distribution_client/Debugx64/
src/vca_sample_distribution_client/vca_sample_distribution_client.vcxproj.user
src/vca_sample_distribution_server/Release/
src/vca_sample_distribution_server/Releasex64/
src/vca_sample_distribution_server/Debug/
src/vca_sample_distribution_server/Debugx64/
src/vca_sample_distribution_server/vca_sample_distribution_server.vcxproj.user
src/vca_sample_echostring_client/Release/
src/vca_sample_echostring_client/Releasex64/
src/vca_sample_echostring_client/Debug/
src/vca_sample_echostring_client/Debugx64/
src/vca_sample_echostring_client/vca_sample_echostring_client.vcxproj.user
src/vca_sample_echostring_server/Release/
src/vca_sample_echostring_server/Releasex64/
src/vca_sample_echostring_server/Debug/
src/vca_sample_echostring_server/Debugx64/
src/vca_sample_echostring_server/vca_sample_echostring_server.vcxproj.user
src/vca_samples/Release/
src/vca_samples/Releasex64/
src/vca_samples/Debug/
src/vca_samples/Debugx64/
src/vca_samples/vca_samples.vcxproj.user
src/vcaquery/Release/
src/vcaquery/Releasex64/
src/vcaquery/Debug/
src/vcaquery/Debugx64/
src/vcaquery/vcaquery.vcxproj.user
src/vcaservicemanager/Release/
src/vcaservicemanager/Releasex64/
src/vcaservicemanager/Debug/
src/vcaservicemanager/Debugx64/
src/vcaservicemanager/vcaservicemanager.vcxproj.user
src/vcatool/Release/
src/vcatool/Releasex64/
src/vcatool/Debug/
src/vcatool/Debugx64/
src/vcatool/vcatool.vcxproj.user
src/vdbtool/Release/
src/vdbtool/Releasex64/
src/vdbtool/Debug/
src/vdbtool/Debugx64/
src/vdbtool/vdbtool.vcxproj.user
src/viewndf/Release/
src/viewndf/Releasex64/
src/viewndf/Debug/
src/viewndf/Debugx64/
src/viewndf/viewndf.vcxproj.user
src/viewseg/Release/
src/viewseg/Releasex64/
src/viewseg/Debug/
src/viewseg/Debugx64/
src/viewseg/viewseg.vcxproj.user
src/vpassthru/Release/
src/vpassthru/Releasex64/
src/vpassthru/Debug/
src/vpassthru/Debugx64/
src/vpassthru/vpassthru.vcxproj.user
src/vpooladmin/Release/
src/vpooladmin/Releasex64/
src/vpooladmin/Debug/
src/vpooladmin/Debugx64/
src/vpooladmin/vpooladmin.vcxproj.user
src/vproxy/Release/
src/vproxy/Releasex64/
src/vproxy/Debug/
src/vproxy/Debugx64/
src/vproxy/vproxy.vcxproj.user
src/vquery/Release/
src/vquery/Releasex64/
src/vquery/Debug/
src/vquery/Debugx64/
src/vquery/vquery.vcxproj.user
src/vsa_sample_requestmaker/Release/
src/vsa_sample_requestmaker/Releasex64/
src/vsa_sample_requestmaker/Debug/
src/vsa_sample_requestmaker/Debugx64/
src/vsa_sample_requestmaker/vsa_sample_requestmaker.vcxproj.user
src/vsaprompt/Release/
src/vsaprompt/Releasex64/
src/vsaprompt/Debug/
src/vsaprompt/Debugx64/
src/vsaprompt/vsaprompt.vcxproj.user
src/vserver/Release/
src/vserver/Releasex64/
src/vserver/Debug/
src/vserver/Debugx64/
src/vserver/VServer.vcxproj.user
src/xndfosds/Release/
src/xndfosds/Releasex64/
src/xndfosds/Debug/
src/xndfosds/Debugx64/
src/xndfosds/xndfosds.vcxproj.user


# Other Visual Studio build artifiacts.  These are strange though...
src/VAccess/Release/
src/VAccess/Releasex64/
src/VAccess/Debug/
src/VAccess/Debugx64/
src/VAccess/VAccess.h
src/VAccess/VAccess.tlb
src/VAccess/VAccess.vcxproj.user
src/VAccess/VAccess_i.c
src/VAccess/VAccess_p.c
src/VAccess/dlldata.c
src/VAccess_Sample/obj/
src/vsaprompt/vsaprompt
src/vsaprompt/vsaprompt-dbg
src/vserver/vserver
src/vserver/vserver-dbg
src/.vs/
src/dbupdate/make.plist.inc
src/vision.VC.VC.opendb
src/vision.VC.db

# Solaris build artifacts
src/V/sun.v8plus.il
src/V/sun.v9.il
src/Vca/sun.v8plus.il
src/Vca/sun.v9.il
src/VcaMain/sun.v8plus.il
src/VcaMain/sun.v9.il
src/Vdht/sun.v8plus.il
src/Vdht/sun.v9.il
src/Vps/sun.v8plus.il
src/Vps/sun.v9.il
src/Vsa/sun.v8plus.il
src/Vsa/sun.v9.il
src/Vxa/sun.v8plus.il
src/Vxa/sun.v9.il
src/VxaMain/sun.v8plus.il
src/VxaMain/sun.v9.il
src/backend/sun.v8plus.il
src/backend/sun.v9.il
src/dbupdate/sun.v8plus.il
src/dbupdate/sun.v9.il
src/frontend/sun.v8plus.il
src/frontend/sun.v9.il
src/tools/sun.v8plus.il
src/tools/sun.v9.il
src/vca_sample_distribution_client/sun.v8plus.il
src/vca_sample_distribution_client/sun.v9.il
src/vca_sample_distribution_server/sun.v8plus.il
src/vca_sample_distribution_server/sun.v9.il
src/vca_sample_echostring_client/sun.v8plus.il
src/vca_sample_echostring_client/sun.v9.il
src/vca_sample_echostring_server/sun.v8plus.il
src/vca_sample_echostring_server/sun.v9.il
src/vca_samples/sun.v8plus.il
src/vca_samples/sun.v9.il
src/vcaquery/sun.v8plus.il
src/vcaquery/sun.v9.il
src/vcaservicemanager/sun.v8plus.il
src/vcaservicemanager/sun.v9.il
src/vcatool/sun.v8plus.il
src/vcatool/sun.v9.il
src/vinfoserver/sun.v8plus.il
src/vinfoserver/sun.v9.il
src/vnotify/sun.v8plus.il
src/vnotify/sun.v9.il
src/vpassthru/sun.v8plus.il
src/vpassthru/sun.v9.il
src/vpooladmin/sun.v8plus.il
src/vpooladmin/sun.v9.il
src/vproxy/sun.v8plus.il
src/vproxy/sun.v9.il
src/vsa_sample_requestmaker/sun.v8plus.il
src/vsa_sample_requestmaker/sun.v9.il
src/vsaprompt/sun.v8plus.il
src/vsaprompt/sun.v9.il
src/vserver/sun.v8plus.il
src/vserver/sun.v9.il

